@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
 .main-box { 
    position: relative;
    background:red;
    background: url('4.jpg') center no-repeat;
    background-size:cover ;
    height: 100vh;
    width: 100%;
} 
.main-box .sidebar-menu{
    position: fixed;
    height: 100vh;
    width: 280px;
    left: -280px;
    background: rgba(255,255,255 ,0.1);
    box-shadow: 0 0 6px rgba(255,255,255 ,0.5);
}
.sidebar-menu .logo{
    /* background: red ;  */
    position:absolute ;
    width: 100%;
    height: 60px;
    box-shadow: 0 0 6px rgba(255,255,255 ,0.5);
    /* background-color: rgb(199, 193, 193); */
}
.sidebar-menu .logo a{
    color: white;
    font-size: 25px;
    font-weight: 500;
    position: absolute;
    left: 50px;
    line-height: 60px;
    text-decoration: none;
}
.sidebar-menu .menu{
    position: absolute;
    top: 80px;
    width: 100%;
}
.sidebar-menu .menu li{
    color: white;
    margin-top : 6px ;
    padding: 14px 20px ;
    transition : all 0.3s linear;
}
/* 
this is when you hover the mouse to the place 
*/
.sidebar-menu .menu li:hover{
    border-left: 1px solid #fff;
    
    box-shadow: 0 0 6px black ;
}
.sidebar-menu .menu i{
    color: #fff; 
    font-size: 20px;
    padding-right: 8px;
}
.sidebar-menu .menu a{
    color: #fff;
    font-size: 20px; 
    text-decoration: none;
}
.sidebar-menu .social-media{
    position: absolute;
    left: 50%;
    bottom: 20px;
    transform: translateX(-50%);
    cursor: pointer;
}
.social-media i{
    padding: 0 5px ;
    color: #fff;     
    opacity: 0.6;
    font-size:20px ;
    transition : all 0.2s linear;
} 
.social-media i:hover{
    opacity :1;
}
#check{
    display: none;
}
.main-box .btn-1 i{
    color: #fff;
    font-size: 30px;
    font-weight :700;
    position: absolute;
    left: 16px;
    line-height: 60px;
    cursor: pointer;
    opacity: 1;
    transition:all 0.3s linear;
}
.main-box .btn-2 i{
    font-size:25px;
    line-height: 60px;
    position: absolute;
    left: 240px; 
    cursor: pointer;
    opacity: 0;
    color: #fff;
    transition:all 0.3s linear ;
}
.btn-1 i:hover{
    font-size:24px;
    opacity : 0;
}
#check:checked ~ .sidebar-menu{
    left: 0px ;
}
#check:checked ~ .btn-1 i {
    opacity: 0;
}
#check:checked ~ .sidebar-menu .btn-2 i{
    opacity: 1;
}
/* .main-box .btn-1{
    background-color: #fff;
} */